@import url("normalize.css");

:root {
    --mobile: 400px;
    --desktop: 1500px;

    --color-primary: #87d8f9;
    --color-secondary: #d7f065;
    --color-tertiary: #aef7ae;
    --color-optional: #fffe91;
    --color-bg-body: #ececec;
    --color-bg-card: #fff;
    --color-titles: #000;
    --color-text: #8a8a8a;
    --color-subtitles: #000;

    --color-bg-user: linear-gradient(94deg, rgba(135, 216, 249, 1) 0%, rgba(174, 247, 174, 1) 39%, rgba(255, 254, 145, 1) 73%);

    --radius: 20px;
    --shadow: box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--color-bg-body);
}

ul {
    list-style: none;
}

/* ATOMS / HELPERS */

a {
    --radius: 0.25rem;
    display: inline-block;
    text-decoration: none;
    color: var(--color-titles);
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: var(--color-bg-card);
    border-radius: var(--radius);
}

h1,
h2 {
    font-weight: 700;
    color: var(--color-titles);
}

h3,
h4 {
    font-weight: 600;
    color: var(--color-titles);
}

/* ATOMS / HELPERS */

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    font-weight: 700;
    margin-block: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

p,
.nav__item,
#search {
    color: var(--color-text);
    text-transform: capitalize;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container__img {
    height: 240px;
}

.container__img--icon {
    --radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: var(--radius);
}

.container__img--icon img {
    --radius: 50%;
    border-radius: var(--radius);
}



.container {
    border-radius: var(--radius);
    background-color: var(--color-bg-card);
    box-shadow: var(--shadow);
    padding: 1rem;
}

.main {
    max-width: var(--desktop);
    margin: 0 auto;
    display: grid;
    grid-template: repeat(9, auto-fit) / repeat(10, 1fr);
    gap: 1rem;
    grid-template-areas:
        "nav nav nav nav nav nav nav nav nav nav"
        "discussion discussion discussion discussion sales sales sales sales earn earn"
        "discussion discussion discussion discussion sales sales sales sales earn earn"
        "revenue revenue revenue revenue sales sales sales sales earn earn"
        "revenue revenue revenue revenue sales sales sales sales devs devs"
        "revenue revenue revenue revenue sales sales sales sales devs devs"
        "product product product product product calendar calendar calendar calendar calendar"
        "product product product product product calendar calendar calendar calendar calendar"
        "product product product product product calendar calendar calendar calendar calendar";
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav__options,
.nav__user {
    flex: 1;
    padding-block: 1rem;
}

.nav__options,
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav__item:hover {
    color: var(--color-subtitles);
}

.nav__options .search {
    position: relative;
}

.nav__options input {
    border: thin solid var(--color-bg-body);
    padding: 0.5rem;
    border-radius: var(--radius);
    background-color: #8a8a8a15;
}

.nav__options span {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.nav__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-bg-user);
    padding: 1rem 3rem;
    border-radius: 0 var(--radius) var(--radius) 0;

}

.nav__icons span {
    font-size: 2rem;
}

.nav__icons span:first-child {
    margin-right: 2rem;
}

.nav__user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: right;
}

.discussion {
    grid-area: discussion;
    background-color: var(--color-primary);
}

.discussion__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-subtitles);
}

.discussion__date span {
    font-size: 2rem;
    font-weight: 600;
}

.discussion__users {
    margin-top: 1rem;
}

.discussion__users,
.discussion__users>div {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.discussion__users .container__img--icon {
    background-color: var(--color-optional);
}

.discussion__users .container__img--icon:nth-child(2) {
    background-color: var(--color-secondary);
}

.discussion__users .container__img--word {
    background-color: var(--color-subtitles);
    color: var(--color-bg-body);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.discussion__users .container__img--word:last-child {
    background-color: var(--color-subtitles);
}


.revenue {
    grid-area: revenue;
}

.revenue__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.revenue__icons span {
    background-color: var(--color-primary);
    border-radius: var(--radius);
    padding: 0.25rem;
}

.revenue__icons span:first-child {
    background-color: var(--color-secondary);
}

.revenue__icons span:last-child {
    transform: rotate(-45deg);
}

.sales {
    grid-area: sales;
}

.sales__date p,
.sales__date p span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sales h1 + h3{
    color: var(--color-secondary);
}

.sales .container__img {
    height: 340px;
}

.earn {
    grid-area: earn;
    padding: 0.5rem;
}

.earn__balance,
.earn__bookings,
.earn__today {
    padding: 0.5rem;
}

.earn__bookings {
    --radius: 0.5rem;
    background-color: var(--color-tertiary);
    border-radius: var(--radius);
}

.devs {
    grid-area: devs;
    background-color: var(--color-secondary);
}

.devs__users{
    margin-top: 1rem;
}

.devs__users,
.devs__users div,
.devs__users .container__img--word {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.devs__users .container__img--word {
    justify-content: center;
    background-color: var(--color-subtitles);
    color: var(--color-bg-card);
}

.devs__users .arrow{
    justify-content: center;
    transform: rotate(-45deg);
    background-color: transparent;
}
.product {
    grid-area: product;
}

.calendar {
    grid-area: calendar;
}